border-bottom-1px($color)
  position: relative
  &:after
    display: block
    content: ' '
    width: 100%
    height: 0
    position: absolute
    left: 0
    bottom: 0
    border-bottom: 1px solid $color

border-top-1px($color)
  position: relative
  &:after
    display: block
    content: ' '
    width: 100%
    height: 0
    position: absolute
    left: 0
    top: 0
    border-top: 1px solid $color

border-left-1px($color)
  position: relative
  &:after
    display: block
    content: ' '
    height: 100%
    width: 0
    position: absolute
    left: 0
    top: 0
    border-left: 1px solid $color

border-right-1px($color)
  position: relative
  &:after
    display: block
    content: ' '
    height: 100%
    width: 0
    position: absolute
    right: 0
    top: 0
    border-right: 1px solid $color

border-none()
  &:after
    display: none

bg-image($url)
  background-image: url($url + "@2x.png")
  @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
      background-image: url($url + "@3x.png")

// 项目中样式变量的定义
$shopcart-height = 0.56rem
$header-height = 1.74rem
$color7-17-27-1 = rgba(7,17,27,1)
$color7-17-27-0_1 = rgba(7,17,27,0.1)
$color240-20-20-1 = rgba(240,20,20,1)
$color147-153-159-1 = rgba(147,153,159,1)
$color0-160-220-1 = rgba(0,160,220,1)
$color243-245-247-1 = rgba(243,245,247,1)
$color77-85-93-1 = rgba(77,85,93,1)

main-content-scroll()
  position: absolute
  top: 1.74rem
  bottom: $shopcart-height
  left: 0
  right: 0
  width: 100%
  overflow: hidden